html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.container-fluid{
  width: 100%;
}

@media (max-width:1030px) {
  .page_search {
    left: 670px !important;
  }
}
//@media (max-width: 1803px) {
//  .page_search {
//    width: 200px !important;
//  }
//  .search_text{
//    padding: 0 !important;
//  }
//}
@media (max-width:1180px) {
  .page_search {
    width: 200px !important;
  }
  .search_text{
    padding: 0 !important;
  }
}
//.container-fluid{width:100%;};
//.navbar{ width: 100%;}
//@media screen and (max-width: 1200px) {
//  .container-fluid{width:1200px;};
//  .navbar{ width: 1200px;}
//}






@media (min-width: 0px) {
  .main{
    width: 1200px;
  }
}
@media (min-width: 768px) {
  .main{
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container
  {
    width: 970px;
  }
  .main{
    width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container{
    width: 1170px;
  }
  .main{
    width:95%;
  }
}


