html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.container-fluid{
  width: 100%;
}

@media (max-width:1030px) {
  .page_search {
    left: 670px !important;
  }
}
//@media (max-width: 1803px) {
//  .page_search {
//    width: 200px !important;
//  }
//  .search_text{
//    padding: 0 !important;
//  }
//}
@media (max-width:1180px) {
  .page_search {
    width: 200px !important;
  }
  .search_text{
    //padding: 0 !important;
  }
}
//.container-fluid{width:100%;};
//.navbar{ width: 100%;}
//@media screen and (max-width: 1200px) {
//  .container-fluid{width:1200px;};
//  .navbar{ width: 1200px;}
//}






@media (min-width: 0px) {
  .main{
    width:1600px;
  }
  .hot_5,
  .new_5,
  .bd_num:nth-child(5){
    display: block !important;
    margin-right:0  !important;
  }
  .hot_4,
  .new_4,
  .bd_num:nth-child(4){
    margin-right: 79px !important;
  }
}
@media (min-width: 768px) {
  .main{
    width: 980px;
  }
  .type_wrap{
    width: 920px;
  }
  .hot_5,
  .new_5,
  .bd_num:nth-child(5){
    display: none !important;
  }
  .hot_4,
  .new_4,
  .bd_num:nth-child(4){
    margin-right: 0 !important;
  }
}
@media (min-width: 992px) {
  .main{
    width: 1200px;
  }
  .type_wrap{
    width: 1160px;
  }
  .hot_5,
  .new_5,
  .bd_num:nth-child(5){
    display: block !important;
    margin-right:0  !important;
  }
  .hot_4,
  .new_4,
  .bd_num:nth-child(4){
    margin-right: 43px !important;
  }

}
@media (min-width: 1200px) {
  .main{
    width:1600px;
  }
  .type_wrap{
    width: 1500px;
  }
  .hot_5,
  .new_5,
  .bd_num:nth-child(5){
    display: block !important;
    margin-right:0  !important;
  }
  .hot_4,
  .new_4,
  .bd_num:nth-child(4){
    margin-right: 79px !important;
  }
}

@media (min-width:0px) {
  .pubheader{
    height: 40px;
  }
  .pubmain{
    width: 768px;
  }
}
@media (min-width: 768px) {
  .pubheader{
    height: 40px;
  }
  .pubmain{
    width: 768px;
  }
}
@media (min-width: 992px) {
  .pubmain{
    width:1050px;
  }
}
@media (min-width: 1200px) {

  .pubmain{
    width: 1050px;
  }

}